body {
    background: rgb(18,21,117);
    background: linear-gradient(0deg, rgba(18,21,117,1) 0%, rgba(163,13,62,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


h1, 
h2,
h3,
p {
    color: #ADADB1;
}



h1,h2 {
    font-family: 'BC Alphapipe';
    font-weight:400;
}

p, a {
    font-family: calibri;
}

#header-button {                                 /*<--- Header button !!!!!!!!!!!*/  
    background-color:rgba(27, 28, 47, 2.5%);
    margin-top: 0;
    width: 100%;
    height: 40px;    
    justify-content: center;
    position: fixed;
    top: 0;
    display: flex;
    transition: height 0.5s, background-color 0.5s;
    
}
#header-button:hover{
  height: 60px; 
  background-color:rgba(27, 28, 47, 15%);
  cursor: pointer;
}

#button-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;    
    border-top: 20px solid #ADADB1; 
    opacity: 15%;
    position: relative;
    top: 10px;  
    transition: all 1s;
  }


                                           /*<--- NAV BAR !!!!!!!!!!!*/  
nav {
    margin: 16px;
    color: #e2e2e2;
    display: inline;
    opacity: 100%;
    padding: 10px;
    position: relative;    
    font-size: 30px;
    letter-spacing: 0.5px;
}
nav i {
    padding: 10px 15px 15px 15px;
}
nav i, nav a {
    color: #ADADB1;    
    position: relative;
    bottom: 25px;
    transition: color 1s, padding 1s;
    transition: visibility 0;
}

nav a {
    visibility: hidden;
    position: fixed;
    top: 85px;
    margin-left: 0;    
    left: 48%;
    display: inline;   
    
}
nav i:hover {
 cursor:pointer; 
 color: white;
 padding: 10px 25px 25px 25px;
}





header {                                           /*<--- HEADER !!!!!!!!!!!*/  
    margin-top: 0;
    width: 100%;
    height: 80px;
    background-color:rgba(27, 28, 47, 15%);  
    display: flex;
    justify-content: center;  
    visibility: hidden;
    transition: all 1s;
    position: relative;
    bottom: 40px;
}

header:hover {
    height: 80px;
    background-color:rgba(27, 28, 47, 70%);        
    padding: 15px;
}
#title {
    font-size: 40px;
}




section {
    margin-left: auto;                                 /*<--- MAIN SECTION 1!!!!!!!!!!!*/  
    margin-right: auto;   
    width: 1000px;
    height: 600px;
    position: fixed;
    top: 80px;
}

#logo-icon {
    background-image: url(./images/Asset\ 5-100.jpg);
    background-size: contain;
    width: 300px;
    height:300px;
    border-radius: 20% 0 20% 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    opacity: 65%;
    transition: background-color 2s;
}

.main-info {
    margin-left: auto;
    margin-right: auto;
    
}

.main-info h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    font-stretch: 20px;
}

.main-info p {
    width: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 
button {                       /*<--- BUTTONS !!!!!!!!!!!*/  
    border: 1px solid black;
    border: none;
    margin-top: 90px;
    height: 80px;
    width: 50px;
    display: inline;
    position: relative;
    bottom: 50px;
    background-color:rgba(27, 28, 47, 10%);
    border-radius: 5%;    
}

button:hover {
    cursor: pointer;    
    transition: all 1s;
}
#button-left {
    right: 155px;
}
#icon-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;     
    border-right:20px solid #1B1C2F; 
    position: relative;
    left: 5px;
    opacity: 80%;
    transition: all 1s;
  }


#button-right {
    left: 1050px;
}
#icon-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;    
    border-left: 20px solid #1B1C2F;
    position: relative;
    left: 10px;
    opacity: 60%;
    transition: all 1s;
  }
#circle-container {
    width: 150px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 160px;
    left: 46%;
    margin-left: auto;
    margin-right: auto;
}
.circle-nav {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ADADB1;
    margin: 6px;
    display: inline-flex;
    justify-content: center;
    opacity: 60%;     
}
#circle1 {
    opacity: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 5px;
}



 
footer {
    width: 100%;
    height: 120px;
    margin-bottom: 0;
    background-color:rgba(27, 28, 47, 30%);
    position: fixed;    
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

footer h2 {
    position: relative;
    top: 20px;
    font-size: 30px;
}

footer h2 {
    text-align: center;
    display: none;
}

#skill-icon-holder i {
    padding: 30px 15px 15px 15px;
    color: #090910;
    transition: all 0.5s;
}

#skill-icon-holder i:hover{
    color: #ADADB1;
    padding: 20px;
}