body {
    background: rgb(18,21,117);
    background: linear-gradient(0deg, rgba(18,21,117,1) 0%, rgba(163,13,62,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


h1, 
h2,
h3,
h4,
p,
a {
    color: #ADADB1;
}

h1,h2, h3 {
    font-family: 'BC Alphapipe';
    font-weight:400;
}

p, a, h4 {
    font-family: calibri;
}

a {
    font-weight:800;
    font-size: 30px;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: rgb(18,21,117);
}

header{    
  position: fixed;
  width: 100%;
  height: 80px;
  /* background-color: rgba(163,13,62,0.5); */
  display: flex;
  justify-content: center;
}



nav {
    display: flex;     
    position: relative;    
    width: 100%;
    justify-content: center;
    /* border-bottom: 4px solid RGBA(173,173,177,0.5); */
    padding-top: 20px;
}

.header-button {
    background-color: RGBA(27,28,47,1%);
    border-radius: 0;
    width: 300px;
    height: 30px;
    margin: 0;
        
    text-align: center;
}

#intro {
    visibility: visible;
    align-content: center;    
}

#the-main-section {
    background: linear-gradient(0deg, rgba(27,28,47,0.4) 50%, rgba(163,13,62,0) 100%);     
    margin-left: auto;                                 /*<--- MAIN SECTION 1!!!!!!!!!!!*/  
    margin-right: auto;
    width: 1500px;
    height: 100%;
    /*border-radius: 2%;*/
    display: flex;
    justify-content: center;    
}
section {
    margin-left: auto;                                 /*<--- MAIN SECTION 1!!!!!!!!!!!*/  
    margin-right: auto;   
    width: 800px;
    height: 600px;
    position: fixed;
    top: 80px;
    transition: visibility 50ms;
}
#logo-icon {
    background-image: url(./images/Asset\ 5-100.jpg);    
    background-size: contain;
    width: 250px;
    height:250px;
    border-radius: 20% 0 20% 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    opacity: 65%;
    transition: background-color 2s;
}
.main-info {
    margin-left: auto;
    margin-right: auto;    
}
.main-info h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    font-stretch: 20px;
}
.main-info p {
    width: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
                                                 /*<--- SECTION 2!!!!!!!!!!!*/  
#about-me {
    visibility: hidden;    
}
#profile-pic {
    background-image: url(./images/profile-pic.jpg);
    background-size: contain;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    opacity: 65%;
}

.contact-box {
width: 500px;
height: 500px;
}

#left-box {
grid-column-start: 1;
grid-column-end: 5;
width: 100%;


}
#contact-title {
    font-size: 40px;
    position: relative;
    top: 30px;
}

#left-box h1, #left-box p {
  margin-left: 10px;
}

#project-list {
    display: grid;
    width: 750px;
    grid-template-rows: repeat(4, auto);
    height: 400px;
    grid-template-columns: auto auto auto;  
    
    margin: 0;
}

#pic-container {
    grid-row: 1 / 5;
    grid-column: 2 / 4;    
    width:500px;
    height: 100%;
    object-fit: contain;
    border-right: 4px solid RGBA(173,173,177,0.5);
    background-size: contain;
}
#abbey-button {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    
}

#booth-button {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

#greenpeace-button {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
}

#kart-button {
    grid-column: 1 / 2;
    grid-row: 4 / 4;
}

.proj-button {
    width: 200px;
    height: 80px;
    background-color: #1B1C2F; 
    border: none;
    margin: 2px;
    text-align: left;    
}


.proj-button:hover {
    cursor: pointer;
    color: rgb(18,21,117);
}
.proj-button h4{
    position: relative;
    top: 25px;
}

#right-box {
    grid-column-start: 5;
    grid-column-end: 6;
}
#contact-me {
top: 50px;
display: grid;
grid-template-columns: repeat(6, 150px);
grid-column-gap: 50px;
visibility: hidden;
position: relative;
right: 100px;
width: 1200px;
}
#contact-me h1 {
    display: block;
}

.proj-pic {
    visibility: hidden;
}

#button-container {        /*<--- BUTTONS !!!!!!!!!!!*/  
    position: relative;
    height: 50px;  
    width: 800px;  
    display: flex;
    margin-top: 50px;
    display: none;
    
}

#front-nav {
    width: 1300px;
    height: 200px;
    display: flex;
    position: absolute;
    top: 620px;
}

.nav-button {                       
    border: 5px double rgba(163, 13, 62, 1);      
    height: 80px;
    width: 80px;
    display: inline;     
    background-color: rgba(163, 13, 62, 0); 
    border-radius: 50%;    
    margin-top: 20px;

}

.nav-button:hover {
    cursor: pointer;    
    transition: all 1s;
    

}

#icon-left {
    width: 0; 
    height: 0; 
    border-top: 30px double transparent;
    border-bottom: 30px double transparent;     
    border-right:30px double rgba(163, 13, 62, 1); 
    position: relative;
    left: 15%;
    
    transition: all 1s;
  }
#icon-right {
    width: 0; 
    height: 0; 
    border-top: 30px double transparent;
    border-bottom: 30px double transparent;    
    border-left: 30px double rgba(163, 13, 62, 1);
    position: relative;
    left: 35%;
    
    transition: all 1s;
  }

#button-left{
    background-color:#1B1C2F;  
}

#button-right{
    background-color:#1B1C2F;  
}

 

#circle-container {
    width: 500px;
    display: flex;
    justify-content: center;    
    bottom: 160px;
    left: 46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}
.circle-nav {
   
    width: 100px;
    height: 5px;
    background-color: rgba(163, 13, 62, 1);
    margin: 6px;   
    opacity: 60%;    
    
}
#circle1 {
    opacity: 100%;
    
}


#skills {
background-color: #ADADB1;
width: 1200px;
height: 400px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
display: flex;
justify-content: center;
}

#skill-container {
    width: 100%;   
    margin-left: auto;
    margin-right: auto;
    
}
#top-row {
   height: 550px;
   width: 100%;   
   background-color: blue;
   margin: 0;
   display: block;
}


#skill-icon-holder i {
    padding: 30px 15px 15px 15px;
    color: #090910;
    transition: all 0.5s;
}

#skill-icon-holder i:hover{
    color: #ADADB1;
    padding: 20px;
    
}

 /* ------------- TABLET */

 @media screen and (max-width: 768px) {
    .header-button {        
        width: 150px;
        height: 50px;        
    }    
        nav {
        justify-content: center;
    }

    section {
        top: 10px;
    }
    a {
        position: relative;
        top: 20px;
        font-size: 26px;
       
    }
    #the-main-section {
        width: 100%;
        height: 1500px;
        
    }
    #logo-icon {
        width: 200px;
        height: 200px;
    }
    #front-nav {
        width: 400px;
        top: 580px;
    }

    .main-info p {
        width: 500px;
    }

    #contact-me {
        width: 600px;
        top: 60px;
    }
 }