body {
    background: rgb(18,21,117);
    background: linear-gradient(0deg, rgba(18,21,117,1) 0%, rgba(163,13,62,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


h1, 
h2,
h3,
p,
a {
    color: #ADADB1;
}

h1,h2, h3 {
    font-family: 'BC Alphapipe';
    font-weight:400;
}

p, a {
    font-family: calibri;
}

a:hover {
    cursor: pointer;
}

header{    
position: fixed;
top: 60px;
}

.header-button:hover{
    border-bottom: 4px solid RGB(18,21,117);    
} 

nav {
    display: flex;     
}

.header-button {
    background-color: RGBA(27,28,47,1%);
    border-radius: 0;
    width: 100px;
    height: 30px;
    margin: 0;
    border-bottom: 4px solid RGBA(173,173,177,0.5);    
    text-align: center;
}

#skills-1{      
    width: 400px;
    height: 400px;
    position: absolute;
    left: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
}

#skills-2{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 80px;
    top: 90px;
    display: flex;
    flex-direction: column;
    
}

.skillRow {
   width: 100%;
   height: 160px;    
}

.skillRow i {
    color: RGBA(163,13,62,6);
    margin-top: 40px;   
    }

#skillRow1 {
    display: flex;
}
#skillRow2{
    display: flex;
    position: relative;
    left: 60px;   
    flex-direction: row-reverse;
}
#text-container2{
    margin-right: 20px;
}
#skillRow3 {
    display: flex;
    positioN: relative;
    left: 10px;
}

#skillRow4 {
    display: flex;
    flex-direction: row-reverse;
}
.design-text-container{
    margin-left: 20px;
}
#intro {
    visibility: visible;
    align-content: center;    
}
#the-main-section {
    background: linear-gradient(0deg, rgba(27,28,47,0.4) 50%, rgba(163,13,62,0) 100%);     
    margin-left: auto;                                 /*<--- MAIN SECTION 1!!!!!!!!!!!*/  
    margin-right: auto;
    width: 1500px;
    height: 750px;
    border-radius: 2%;
    display: flex;
    justify-content: center;    
}
section {
    margin-left: auto;                                 /*<--- MAIN SECTION 1!!!!!!!!!!!*/  
    margin-right: auto;   
    width: 800px;
    height: 600px;
    position: fixed;
    top: 80px;
    transition: visibility 50ms;
}
#logo-icon {
    background-image: url(./images/Asset\ 5-100.jpg);    
    background-size: contain;
    width: 250px;
    height:250px;
    border-radius: 20% 0 20% 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    opacity: 65%;
    transition: background-color 2s;
}
.main-info {
    margin-left: auto;
    margin-right: auto;    
}
.main-info h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    font-stretch: 20px;
}
.main-info p {
    width: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
                                                 /*<--- SECTION 2!!!!!!!!!!!*/  
#about-me {
    visibility: hidden;    
}
#profile-pic {
    background-image: url(./images/profile-pic.jpg);
    background-size: contain;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    opacity: 65%;
}






#button-container {        /*<--- BUTTONS !!!!!!!!!!!*/  
    position: relative;
    height: 50px;  
    width: 800px;  
    display: flex;
    margin-top: 50px;
    
    
}

button {                       
    border: 1px solid rgba(163, 13, 62, 50%);
    border: none;    
    height: 50px;
    width: 50px;
    display: inline;     
    background-color:#1B1C2F;    
    border-radius: 50%;    
    margin-top: 20px;
}

button:hover {
    cursor: pointer;    
    transition: all 1s;
    border: 3px solid RGB(18,21,117);

}

#icon-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;     
    border-right:20px solid rgba(112, 112, 112, 40%); 
    position: relative;
    left: 45%;
    opacity: 80%;
    transition: all 1s;
  }
#icon-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;    
    border-left: 20px solid rgba(112, 112, 112, 40%);
    position: relative;
    left: 45%;
    opacity: 60%;
    transition: all 1s;
  }

#button-left{
    background-color:#1B1C2F;  
}

#button-right{
    background-color:#1B1C2F;  
}

#button-left2{
    background-color:#1B1C2F;  
}

#button-right2{
    background-color:#1B1C2F;  
}
                         /* ------------- 2nd BUTTONS */
 
#icon-left2 {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;     
    border-right:20px solid rgba(112, 112, 112, 40%); 
    position: relative;
    left: 45%;
    opacity: 80%;
    transition: all 1s;
  }
#icon-right2 {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;    
    border-left: 20px solid rgba(112, 112, 112, 40%);
    position: relative;
    left: 45%;
    opacity: 60%;
    transition: all 1s;
  }

#circle-container {
    width: 150px;
    display: flex;
    justify-content: center;    
    bottom: 160px;
    left: 46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.circle-nav {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ADADB1;
    margin: 6px;
    display: inline-flex;
    justify-content: center;
    opacity: 60%;     
}
#circle1 {
    opacity: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 5px;
}

#skills {
background-color: #ADADB1;
width: 1200px;
height: 400px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
display: flex;
justify-content: center;
}

#skill-container {
    width: 100%;
   
    margin-left: auto;
    margin-right: auto;
    
}
#top-row {
   height: 550px;
   width: 100%;   
   background-color: blue;
   margin: 0;
   display: block;
}






footer {
    width: 100%;
    height: 120px;
    margin-bottom: 0;
    background-color:rgba(27, 28, 47, 30%);
    position: fixed;    
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

footer h2 {
    position: relative;
    top: 20px;
    font-size: 30px;
}

footer h2 {
    text-align: center;
    display: none;
}

#skill-icon-holder i {
    padding: 30px 15px 15px 15px;
    color: #090910;
    transition: all 0.5s;
}

#skill-icon-holder i:hover{
    color: #ADADB1;
    padding: 20px;
}