
.main-container {
    
    width: 100%;
    height: 650px;
    margin-top: 80px;
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    justify-content: space-around;
}

#left-container {     
    
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;    
    z-index: 0;
}

#left-container img {
    max-width: 100%;    
    z-index: 0;
    background-size: contain;
    position: relative;
    bottom: 200px;
    opacity: 20%;
}
#right-container {       
    width: 100%;
    height: 250px;
    display: flex;
    z-index: 1;
    position: absolute;
    bottom: -100px;
}

#right-container button {
    width: 25%;
    height: 150px;
    border-radius: 0;
    background-color:RGBA(27,28,47,20%);
    
    
}

#over-img {
    width: 750px;
    height: 100%;
    background-color:RGBA(27,28,47,60%);
    position: absolute;
    bottom: 120px;
    z-index: 1;
    left: 25%;
}

#abbeyPic{
    display: none;    
}

#boothPic{
    display: none;    
}

#greenpeacePic{
    display: none;    
}

#kartPic{
    display: none;    
}

.projectButton{
    height: 150px;
}