
.main-container {
    
    width: 100%;
    height: 650px;
    margin-top: 80px;
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    justify-content: space-around;
}

#left-container {     
    opacity: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

#right-container {   
    
    width: 100%;
    height: 250px;
    display: flex;
    
   
}

#right-container button {
    width: 25%;
    height: 100%;
    border-radius: 0;
    background-color:RGBA(27,28,47,20%)
}